<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head', {title: 'Configuração' }); %>
        <!-- datepicker  -->
        <link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap-datepicker.css'>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src='js/bootstrap-datepicker.min.js'></script>
</head>

<body>
    <%- include('partials/header'); %>
        <section class="my-3">
            <h1> </h1>
            <% if (user) { %>
                <h1 class="display-5 my-3"> Olá <%= user.name %> </h1>
            <% } %>
            <div class="container ">
                <div class="row">
                    <div class="col-sm text-center align-text-bottom pt-5">
                        <img src='cipa.png' class="w-50" />
                    </div>
                    <div class="col-sm rounded shadow bg-white p-3">
                        <form class="formgroup" action="/cipaconfig" method="POST">
                            <div id="inscription" class="row justify-content-center">
                                <div class="text-center">
                                    <h2> Gestão <%= gestao %> </h2>
                                    <select class="form-select text-center p-2" name="filial"
                                    aria-label="Selecione a filial" onchange="checkFilial('<%= JSON.stringify(cipas) %>', this.value)">
                                        <option disabled selected>Selecione a filial</option>
                                        <% filiais.forEach(filial => { %>    
                                            <option value="<%= [filial.codfilial, filial.nome] %>">
                                            <%= filial.nome %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div id="errFilial" class="text-center" style="visibility: hidden;">
                                    <h4 class="text-danger">  Já possui uma cipa ativa. </h4>
                                </div>
                                <div id="cadastro">
                                    <div  class="text-center mb-2">
                                        <h3 class="title-style pt-2"> Inscrições </h3>
                                        <div class="row pt-4">
                                            <div class="col px-2">
                                                <div id="datainscricao" class="input-daterange justify-content-center input-group">
                                                    <input class="input-sm form-control" type="text" id="IniInsc"
                                                    onkeydown="return false;" name="inscricaoini"
                                                    autocomplete="off" required>
                                                    <span class="p-2">até</span>
                                                    <input class="input-sm form-control" type="text" id="FimInsc"
                                                                onkeydown="return false;" name="fiminscricao"
                                                                autocomplete="off" onclick="resetVotacao()" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="votacao" class="text-center mb-2">
                                                <h3 class="title-style pt-2"> Votação </h3>
                                                <div class="row pt-4">
                                                    <div class="col px-2">
                                                        <div id="datavotacao"
                                                            class="input-daterange justify-content-center input-group">
                                                            <input class="input-sm form-control" type="text" id="IniVoto"
                                                                onkeydown="return false;" name="inivotacao"
                                                                autocomplete="off" required>
                                                            <span class="p-2">até</span>
                                                            <input class="input-sm form-control" type="text" id="FimVoto"
                                                                onkeydown="return false;" name="fimvotacao"
                                                                autocomplete="off" onclick="resetResultado()" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm text-center py-3" id="resultado">
                                            <span> Resultado final:</span>
                                            <input id="resultado-final" name="resultado" type="text" class="input-style"
                                                onkeydown="return false;" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col text-center">
                                            <% if (locals.message) { %>
                                                <p class="text-danger">
                                                    <%= message.error %>
                                                </p>
                                                <% } %>
                                                    <button type="submit" class="btn btn-color"> Salvar Dados </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

        </section>
        <%- include('partials/footer'); %>
            <script src='js/cipaconfig.js'></script>


</body>

</html>