<!DOCTYPE html>
<html>
<head>
   <%- include('partials/head', {title: 'Cadastrar Candidato'}); %>
</head>
<body>
    <%- include('partials/header'); %>  
    <section> 
    <div class="container bg-white rounded p-2 mt-2">
        <div class="row">
            <div class="col text-center">
                <h3> Cipa <%= gestao %> </h3>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-center pt-2">
                <a href="/cipaconfig" class="btn btn-color rounded submit"> Cadastrar Cipa </a>
            </div>
        </div>
        <% cipas.forEach(cipa => { %>
        <%- include('components/inscricao/viewInscricao', {cipa: cipa}); %>
        <% }) %>
    </div>
    </section>
    <%- include('partials/footer'); %>
</body>
</html>