<!DOCTYPE html>
<html>
<head>
   <%- include('partials/head', {title: 'Candidatos'}); %>

</head>
<body>
    <%- include('partials/header'); %>
    <% if (user) { %>
    <section class="container my-3">
        <h1 class="display-5 my-3"> Olá <%= user.name %> </h1>
    </section> 
    <% } %>   
    <section class="container bg-white rounded p-2 mt-2"> 
        <div class="row">
            <div class="col text-center">
                <h3> Candidatos </h3>
            </div>
        </div>
        <div>
            <div class="row row-cols-2 mt-2 ">
            <% if (locals.candidatos) { %>
                <% candidatos.forEach(func => { %>
                    <div class="col">
                        <div class="d-flex rounded bg-light candidato">
                            <div class="col-sm-auto">
                                <img class="img-small " src=<%= func.foto %>  />
                            </div>
                                <div class="col-sm-auto">
                                    <ul class="list-group">
                                    <li class="list-item-pd-0">Funcionario: <%= func.matricula %> <%= func.nome  %> </li>
                                    <li class="list-item-pd-0">Setor: <%= func.secao %> </li>
                                    <li class="list-item-pd-0">Número de Votação: <%= func.n_votacao %> </li>
                                    </ul>
                                </div>
                            <div class="col-sm text-center">
                                <span class="display-5"> 0% </span>
                            </div>
                        </div>
                    </div>
            
                <% }) %> 
            <% } %> 
        </div>
        </div>
    </section>
    <%- include('partials/footer'); %>
    <script src='js/app.js'></script>


</body>
</html>