<div class="container rounded shadow bg-grey text-white w-75 my-2 p-3">
    <div class="row">
      <div class="text-center">  <h2> <%= cipa.filial %> </h2> </div>
        <div class="col-sm text-end"> 
            <p class="fs-5 "> Gestão: <%= cipa.gestao + '/' + (cipa.gestao + 1) %> </p>
            <p class="fs-5"> Inscrições: <%= cipa.dtiniinsc %> à <%= cipa.dtfiminsc %> </p>
        </div>
        <div class="col-sm"> 
            <p class="fs-5 ">
                Votação: <%= cipa.dtinivoto %> à <%= cipa.dtfimvoto %> 
                <a class="btn-small btn-color position-absolute" href="/edit_cipa/<%= cipa.codfilial %>"> Extender </a> 
            </p>
            
            <p class="fs-5"> Resultado: <%= cipa.dtresultado %> </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-start">
            <a class="btn btn-color" href="/autorizar_acesso/<%= cipa.codfilial %>"> Candidatos </a>
            <a class="btn btn-color" href="/votos/<%= cipa.codfilial %>"> Votos </a>
        </div>
        <div class="col-sm text-end">
            <a class="btn btn-success <%= cipa.votacaoAtiva ? '' : 'disabled' %>" href="/iniciar_votacao/<%= cipa.codfilial %>" > Iniciar Votação </a>
            <a class="btn btn-color <%= cipa.inscricaoAtiva ? '' : 'disabled' %>" href="/cadastro_candidato/<%= cipa.codfilial %>"> Cadastrar Candidatos </a>
            <a class="btn btn-danger" href="/autorizar_delete/<%= cipa.codfilial %>"> Solicitar Alteração </a>
        </div>
    </div>
</div>